body{
	background-color: orange;
	position: relative;
	height: 100%;
    width: 100%;
    margin: 0 !important;

}
.modal-bg{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
	overflow: auto;
	z-index: 1;
}
.modal-content{
	margin: 15% auto;
	font-family: sans-serif;
	background-color: white;
	width: 30%;
	padding: 20px;
	border: 1px solid black;
}
 .close,.close1,.close2 {
   color: grey;
   float: right;
   font-size: 28px;
   font-weight: bold;
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 #h1{
 	text-align: center;
 	font-family: serif;
 	font-weight: 50;
 }
 .m1i{
 	font-family: serif;
 	font-weight: 100;
 }
 form{
 	border-top: 1px solid grey;
 	width: 90%;
 	top: 0;
 	margin: 0%;
 }
 input{
 	width: 100%;
 	padding: 15px;
 	border: none;
 	background-color: whitesmoke;
 }
#msi{
	background-color: green;
	color: white;
	font-family: sans-serif;
	cursor: pointer;
	padding: 15px;
	width: 100%;
    text-align: center;
    position: relative;
    top: 10px;
    left: 1%;
}
.nm{
	text-align: center;
	margin-top: 15px;
}
#redirect{
	color: blue;
	cursor: pointer;
}
.allPost{
	height: 100%;
	width: 100%;
}
.post{
	position: relative;
	width: 45%;
	height: 30%;
	background-color: white;
	float: left;
	margin: 10px 10px 10px 20px;
	box-shadow: 0 1px 6px 0;
	border-radius: 25px;
}
.trash{
	position: absolute;
	right: 15px;
	top: 15px;
}
.trash img{
	height: 20px;
	width: 30px;
}
.pleft{
	width: 20%;
	max-width: 20%;
	display: table-cell;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;

}
.postcont{
	width: 80%;
	display: table-cell;
	text-align: left;
	background-color: #E6E6E6;
	border-radius: 0 25px 25px 0;  
}
.ptitle{
	font-weight: bold;
	font-family: cursive;
	padding: 15px;
	height: 15px;
	font-size: 0 20px;
}
#lastpost{
	left: 25%;
	align-items: center;
	justify-content: center;
}
.pdisplay{
	height: 100px;
    margin-bottom: 0 !important;
}
 #bars{
    position:absolute;
    right:15px;
    bottom:15px;
    font-size: 40px;
    color: black;
}

/* ------------------- Code for Delete Modal ----------------*/
#deletebtn{
	left: 30%;
	position: relative;
}
#yes{
	background-color: red;
	color: white;
	border-color: transparent;
	padding: 10px 15px;
	width: 21%;
	left: 30px;
}
#no{
	background-color: green;
	color: white;
	border-color: transparent;
	padding: 10px 15px;
	width: 21%;
	right: 30px;
}
#h2{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
