.logo{
	font-family: 'satisfy',cursive;
	font-size: 50px;
	color:  blue;
	margin: 10px 10px 10px 10px;
}
.topbuttons{
	width: 80px;
	padding: 10px;
	float: right;
	cursor: pointer;
	font-weight: 300;
	font-size: 100%;
	background-color: blue;
	color: white;
	margin: 10px 10px 0px 0px;
	font-family: sans-serif;
}
.belowtext{
	font-family: 'satisfy',cursive;
	margin-top: 0;
	margin: 0px 0px 0px 15px;
}
.midbuttons{
	background-color: #ffd73f;
	color: black;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
}
.postb{
	position: fixed;
	top: 48%;
	left: 44%;
}
