.logo{
	font-family: cursive;
	font-size: 50px;
	color:  blue;
	margin: 10px 10px 10px 10px;
}
.topbuttons{
	width: 80px;
	padding: 10px;
	float: right;
	cursor: pointer;
	font-weight: 300;
	font-size: 100%;
	background-color: blue;
	color: white;
	margin: 10px 10px 0px 0px;
	font-family: sans-serif;
}
.belowtext{
	font-family: cursive;
	margin-top: 0;
	margin: 0px 0px 0px 15px;
}