
.modal-bg{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
	overflow: auto;
	z-index: 1;
}
.modal-content{
	margin: 15% auto;
	font-family: sans-serif;
	background-color: white;
	width: 30%;
	padding: 20px;
	border: 1px solid black;
}
 .close {
   color: grey;
   float: right;
   font-size: 28px;
   font-weight: bold;
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 #h1{
 	text-align: center;
 	font-family: serif;
 	font-weight: 50;
 }
 .m1i{
 	font-family: serif;
 	font-weight: 100;
 }
 form{
 	border-top: 1px solid grey;
 	width: 90%;
 	top: 0;
 	margin: 0%;
 }
 input{
 	width: 100%;
 	padding: 15px;
 	border: none;
 	background-color: whitesmoke;
 }
#msi{
	background-color: green;
	color: white;
	font-family: sans-serif;
	cursor: pointer;
	padding: 15px;
	width: 100%;
    text-align: center;
    position: relative;
    top: 10px;
    left: 2%;
}
.nm{
	text-align: center;
	margin-top: 15px;
}
#redirect{
	color: blue;
	cursor: pointer;
}
